

{% load socialaccount %}
<!DOCTYPE html>

    <title>Crossword Puzzle</title>
</head>

<form action="{% url 'admin_login' %}" method="post">
    {% csrf_token %}
    <button type="submit">Login as admin</button>
</form>
<form action="{% url 'superadmin_login' %}" method="post">
    {% csrf_token %}
    <button type="submit">Login as Superadmin</button>
</form> 

    <a href="{% provider_login_url 'google' process='login' next='/app1/userlanding/' %}">
    Login with Google
</a>
</body>
</html>
